
SimpleWebServicesWeb/.settings/

SimpleWebServicesWeb/.classpath

SimpleWebServicesWeb/.project

SimpleWebServicesWeb/target/

Simple_jBPM_ProcessWeb/.settings/

Simple_jBPM_ProcessWeb/.classpath

Simple_jBPM_ProcessWeb/.project

Simple_jBPM_ProcessWeb/target/

Simple_jBPM_Process/.classpath

Simple_jBPM_Process/.project

Simple_jBPM_Process/.settings/

Simple_jBPM_Process/target/
