
SimpleWebServicesWeb/.settings/

SimpleWebServicesWeb/.classpath

SimpleWebServicesWeb/.project

SimpleWebServicesWeb/target/

Simple_jBPM_ProcessWeb/.settings/

Simple_jBPM_ProcessWeb/.classpath

Simple_jBPM_ProcessWeb/.project

Simple_jBPM_ProcessWeb/target/
